# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
.venv/

# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Secrets / Keys
# ======================
*.pem
*.key
